{{template "admin/layout.html" .}}

{{ define "Content" }}
<section id="main-content">
    <section class="wrapper">
      <div class="col-lg-12">
            <form action="#" method="POST">
                    {{ .xsrfdata}}
                <div class="table-agile-info">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        Responsive Table
                    </div>
                    <div class="row w3-res-tb">
                        <div class="col-sm-5 m-b-xs">
                        <select class="input-sm form-control w-sm inline v-middle">
                            <option value="0">Approval</option>
                        </select>
                        <input type="submit" class="btn btn-sm btn-default"></button>                
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="Search">
                            <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="button">Go!</button>
                            </span>
                        </div>
                        </div>
                    </div>
                <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                            <th style="width:20px;">
                                <label class="i-checks m-b-none">
                                <input type="checkbox"><i></i>
                                </label>
                            </th>
                            <th>Name</th>
                            <th>Teaching experience</th>
                            <th>Proficiency</th>
                            <th>Resume</th>
                            <th style="width:30px;">IsActive</th>
                            </tr>
                        </thead>
                        <tbody>
                                {{ range $data := .teachers}}
                                    <tr>
                                        <td><label class="i-checks m-b-none"><input type="checkbox" name="Teacher[]" value={{$data.Id}}><i></i></label></td>
                                        <td>{{$data.Name}}</td>
                                        <td>{{$data.Teaching}}</td>
                                        <td>{{$data.Proficiency}}</td>
                                        <td><a href="./reviewresume/{{$data.Name}}/{{$data.Resume}}" target="_blank">Download</a></td>
                                        <td>
                                            {{ if eq $data.IsActive "true"}}
                                                <i class="fa fa-check text-success text-active"></i>
                                            {{else}}
                                                <i class="fa fa-times text-danger text"></i>
                                            {{end}}
                                        </td>
                                    </tr>
                                    
                                {{end}}
                            </tbody>
                        </table>
            
                </div>
                <footer class="panel-footer">
                    <div class="row">
                    
                    <div class="col-sm-5 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                    </div>
                    <div class="col-sm-7 text-right text-center-xs">                
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    </div>
                </footer>
                </div>
            </div>
            </form>
        </div>
    </section>
</section>
{{end}}