{{ template "layout.html" .}}

{{ define "Title" }}
登入
{{ end }}

{{ define "Content" }}
<div class="log-w3">
<div class="w3layouts-main">
	<h2>登入(Sign In Now)</h2>
	{{ if .flash.notice }}
	<h4 style="color:green">{{.flash.notice}}</h4>
	{{ end }}
	{{ if .flash.warning }}
	<h4 style="color:red">{{.flash.warning}}</h4>
	{{ end }}
		<form action="#" method="post">
			{{ .xsrfdata }}
			<input type="email" class="ggg" name="Email" placeholder="電子郵件(E-MAIL)" required="">
			<input type="password" class="ggg" name="Password" placeholder="密碼(PASSWORD)" required="">
			<h6><a href="#">忘記密碼？(Forgot Password?)</a></h6>
				<div class="clearfix"></div>
				<input type="submit" value="登入(Sign In)" name="login">
		</form>
		<p>還沒註冊嗎？(Don't Have an Account ?)<br><a href="signup.html">建立帳號(Create an account)</a></p>
</div>
</div>

{{ end }}
