{{ template "layout.html" .}}

{{ define "Title" }}
註冊
{{ end }}
{{ define "Head" }} 
<script src='https://www.google.com/recaptcha/api.js'  async defer></script>
<script>
	function onSubmit(token) {
		document.getElementById("form").submit();
	}
</script>
{{ end }}

{{ define "Content" }}
<div class="reg-w3">
<div class="w3layouts-main">
	<h2>Register Now</h2>
	{{ if .flash.warning }}
		<div class="alert alert-danger" role="alert">
			<strong>Error!</strong> {{.flash.warning}}
		</div>
	{{ end }}
		<form id=form action="#" method="post">
			{{ .xsrfdata }}
			<input type="text" class="ggg" name="Name" placeholder="姓名-英文(Name)" required="">
			<input type="email" class="ggg" name="Email" placeholder="電子郵件(E-MAIL)" required="">
			<input type="password" class="ggg" name="Password" placeholder="密碼(PASSWORD)" required="">
			<input type="text" class="ggg" name="Skype" placeholder="Skype" required="">
			<h4><input type="radio" name="Identity" value="student"> 學生(Student) <input type="radio" name="Identity" value="teacher"> 老師(Teacher)</h4>
			<br>
			
				<div class="clearfix"></div>

				
				<input class="g-recaptcha" data-sitekey="6LdZ8F0UAAAAAD6wZy_zBrW5niDR9s1p-ktFNnY-"
				data-callback="onSubmit" value="註冊(Sign Up)" type="submit">
		</form>
		<p>Already Registered.<a href="login.html">Login</a></p>
</div>
</div>
{{ end }}
