
{{template "teacher/layout.html" .}}
{{ define "Title" }}
	Teacher|Dashboard
{{ end }}
{{ define "Head" }}
<link rel="stylesheet" href="/static/css/morris.css" type="text/css"/>
<!-- calendar -->
<link rel="stylesheet" href="/static/css/monthly.css">
<!-- //calendar -->
<!-- //font-awesome icons -->

<script src="/static/js/raphael-min.js"></script>
<script src="/static/js/morris.js"></script>
{{ end }}

{{ define "Content" }}
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	</section>
<!-- footer -->
	<div class="footer">
		<div class="wthree-copyright">
			<p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
<!-- / footer -->
</section>
<!--main content end-->
{{ end }}
</section>

{{ define "Scripts" }}

<!-- calendar -->
	<script type="text/javascript" src="/static/js/monthly.js"></script>
	<script type="text/javascript">
		$(window).load( function() {

			$('#mycalendar').monthly({
				mode: 'event',
				
			});

			$('#mycalendar2').monthly({
				mode: 'picker',
				target: '#mytarget',
				setWidth: '250px',
				startHidden: true,
				showTrigger: '#mytarget',
				stylePast: true,
				disablePast: true
			});

		switch(window.location.protocol) {
		case 'http:':
		case 'https:':
		// running on a server, should be good.
		break;
		case 'file:':
		alert('Just a heads-up, events will not work when run locally.');
		}

		});
	</script>

	<script>
		
	</script>
	<!-- //calendar -->

	{{ end }}
