{{template "teacher/layout.html" .}}

{{ define "Head" }}
<link href="/static/css/teacher-lesson.css" rel='stylesheet' type='text/css' />
{{ end }}


{{ define "Content" }}
<section id="main-content">
  <section class="wrapper">
    <div class="col-lg-12">
      <div id ="lesson_table">
        <div class="lesson_tr">
            <div class="lesson_td"></div>
            <div class="lesson_td">Sunday</div>
            <div class="lesson_td">Monday</div>
            <div class="lesson_td">Tuesday</div>
            <div class="lesson_td">Wensday</div>
            <div class="lesson_td">Thursday</div>
            <div class="lesson_td">Friday</div>
            <div class="lesson_td">Saturday</div>
        </div>
        {{range $index,$t1 := .lessons}}
        <div class="lesson_tr">
          <div class="lesson_td">{{AddNumber $index 6}}:00</div>
          {{range $week_index,$t2 := $t1}}
            {{if eq $t2 0}}
            <div class="lesson_td"><input class="lesson_checkbox" type="checkbox" name="schedule[]" value="{{$week_index}}_{{AddNumber $index 6}}" checked></div>
            {{else if eq $t2 -1}}
            <div class="lesson_td"><input class="lesson_checkbox" type="checkbox" name="schedule[]" value="{{$week_index}}_{{AddNumber $index 6}}"></div>
            {{else}}
            <div class="lesson_td"><i class="fa fa-check text-success text-active"></i></div>
            {{end}}
          {{end}}
        </div>
        {{end}}
      </div>
      <label id="message" style="color: green;">

      </label>
      
    </div>
    
  </section>
</section>
{{ end }}

{{ define "Scripts"}}
<script src="/static/js/teacherLesson.js"></script>
{{ end }}